
.scrolling-quote {
 background: url(../images/quote-scroll.png) no-repeat;
    position: absolute;
    width: 216px;
    height: 152px;
    /* right: -35px; */
      top: 350px;
          z-index: 99999;
}
.w3layouts-logo img
{
width: 100%;
}




.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  width: 278px;
  padding: 4px;
  margin-top: 1px;
  top: 100px;
  left: 20px;
  /* Calendars */ }
  .daterangepicker:before, .daterangepicker:after {
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  .daterangepicker:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc; }
  .daterangepicker:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent; }
  .daterangepicker.opensleft:before {
    right: 9px; }
  .daterangepicker.opensleft:after {
    right: 10px; }
  .daterangepicker.openscenter:before {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto; }
  .daterangepicker.openscenter:after {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto; }
  .daterangepicker.opensright:before {
    left: 9px; }
  .daterangepicker.opensright:after {
    left: 10px; }
  .daterangepicker.dropup {
    margin-top: -5px; }
    .daterangepicker.dropup:before {
      top: initial;
      bottom: -7px;
      border-bottom: initial;
      border-top: 7px solid #ccc; }
    .daterangepicker.dropup:after {
      top: initial;
      bottom: -6px;
      border-bottom: initial;
      border-top: 6px solid #fff; }
  .daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3001; }
  .daterangepicker.single .ranges, .daterangepicker.single .calendar {
    float: none; }
  .daterangepicker.show-calendar .calendar {
    display: block; }
  .daterangepicker .calendar {
    display: none;
    max-width: 270px;
    margin: 4px; }
    .daterangepicker .calendar.single .calendar-table {
      border: none; }
    .daterangepicker .calendar th, .daterangepicker .calendar td {
      white-space: nowrap;
      text-align: center;
      min-width: 32px; }
  .daterangepicker .calendar-table {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff; }
  .daterangepicker table {
    width: 100%;
    margin: 0; }
  .daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer; }
    .daterangepicker td.available:hover, .daterangepicker th.available:hover {
      background-color: #eee;
      border-color: transparent;
      color: inherit; }
    .daterangepicker td.week, .daterangepicker th.week {
      font-size: 80%;
      color: #ccc; }
  .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: #fff;
    border-color: transparent;
    color: #999; }
  .daterangepicker td.in-range {
    background-color: #ebf4f8;
    border-color: transparent;
    color: #000;
    border-radius: 0; }
  .daterangepicker td.start-date {
    border-radius: 4px 0 0 4px; }
  .daterangepicker td.end-date {
    border-radius: 0 4px 4px 0; }
  .daterangepicker td.start-date.end-date {
    border-radius: 4px; }
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #357ebd;
    border-color: transparent;
    color: #fff; }
  .daterangepicker th.month {
    width: auto; }
  .daterangepicker td.disabled, .daterangepicker option.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through; }
  .daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default; }
  .daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%; }
  .daterangepicker select.yearselect {
    width: 40%; }
  .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 50px;
    margin-bottom: 0; }
  .daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    height: 30px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0 6px 0 28px;
    width: 100%; }
    .daterangepicker .input-mini.active {
      border: 1px solid #08c;
      border-radius: 4px; }
  .daterangepicker .daterangepicker_input {
    position: relative; }
    .daterangepicker .daterangepicker_input i {
      position: absolute;
      left: 8px;
      top: 8px; }
  .daterangepicker.rtl .input-mini {
    padding-right: 28px;
    padding-left: 6px; }
  .daterangepicker.rtl .daterangepicker_input i {
    left: auto;
    right: 8px; }
  .daterangepicker .calendar-time {
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    position: relative;
    padding-left: 28px; }
    .daterangepicker .calendar-time select.disabled {
      color: #ccc;
      cursor: not-allowed; }

.ranges {
  font-size: 11px;
  float: none;
  margin: 4px;
  text-align: left; }
  .ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
  .ranges li {
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer; }
    .ranges li:hover {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff; }
    .ranges li.active {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff; }

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto; }
    .daterangepicker .ranges ul {
      width: 160px; }
    .daterangepicker.single .ranges ul {
      width: 100%; }
    .daterangepicker.single .calendar.left {
      clear: none; }
    .daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .calendar {
      float: left; }
    .daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .calendar {
      float: right; }
    .daterangepicker.ltr {
      direction: ltr;
      text-align: left; }
      .daterangepicker.ltr .calendar.left {
        clear: left;
        margin-right: 0; }
        .daterangepicker.ltr .calendar.left .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.ltr .calendar.right {
        margin-left: 0; }
        .daterangepicker.ltr .calendar.right .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.ltr .left .daterangepicker_input {
        padding-right: 12px; }
      .daterangepicker.ltr .calendar.left .calendar-table {
        padding-right: 12px; }
      .daterangepicker.ltr .ranges, .daterangepicker.ltr .calendar {
        float: left; }
    .daterangepicker.rtl {
      direction: rtl;
      text-align: right; }
      .daterangepicker.rtl .calendar.left {
        clear: right;
        margin-left: 0; }
        .daterangepicker.rtl .calendar.left .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.rtl .calendar.right {
        margin-right: 0; }
        .daterangepicker.rtl .calendar.right .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.rtl .left .daterangepicker_input {
        padding-left: 12px; }
      .daterangepicker.rtl .calendar.left .calendar-table {
        padding-left: 12px; }
      .daterangepicker.rtl .ranges, .daterangepicker.rtl .calendar {
        text-align: right;
        float: right; } }
@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto; }
  .daterangepicker.ltr .ranges {
    float: left; }
  .daterangepicker.rtl .ranges {
    float: right; }
  .daterangepicker .calendar.left {
    clear: none !important; } }
@font-face {
    font-family:'myFirstFont';
    src: url(../fonts/Poppins-Light.ttf);
 
}
.fac-list
{
      background: url(../images/bg4.jpg); 
}
.heading-agileinfo:hover
{
   text-decoration: none!important;  
}
p :hover
{
    text-decoration: none!important;
}
.fac-list1 {
    background:#ffffff7a;
    box-shadow: 0px 0px 11px #777575;
    padding-top:50px;
}

.fac-list1 .f-title
{
      padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-shadow: 0px 5px 11px #ccc;
        text-align: center;
}
.fac-list1 button:hover
{
    background:#000;
}

.fac-list1 .f-right img
{
width:100%;
height:150px;
object-fit:cover;
}
.f-right 
{
      background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;  
}
.f-right  h3
{
    font-size: 12px;
        border-bottom: 1px solid #ccc;
    padding: 10px;
}
.ff
{
        background: #85954336;
}
.st
{
       padding: 9px;
    background: #c29200;
    text-align: center;
    color: #f7f7f4;
}

.st img
{
    width:10%;
}
  
.fac-list1 button
{
     padding: 10px;
    margin-bottom: 0;
    font-size: 14px;
    width: 100%;
    background: #5f7506ba;
    text-align: center;
    cursor: pointer;
    border: none;
    color: #fff;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
}
body{
	font-family:'myFirstFont';
}
h1,h2,h3,h4,h5,h6 {
font-family: 'myFirstFont', sans-serif;
}
ul li
{
 font-family: 'myFirstFont', sans-serif;   
}
.bor-r{
    border-right:1px solid #ccc;
}
.bor-b{
    border-bottom:1px solid #ccc;
}
.black {
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 6px #000;
    border-bottom: 10px solid #000000;
}

.Search-bar {
    background: rgba(255, 255, 255, 0);
    /* padding: 5px; */
    /* border-bottom: 5px solid #00926a; */
    /* box-shadow: 0px 0px 11px #000; */
}
.no-padding {
    padding: 0px!important;
}

.searchbar {
    float: left;
    border: none;
    outline: none;
}

.no-padding {
    padding: 0px!important;
}


.searchbar {
    float: left;
    border: none;
    outline: none;
}

.search-btn {
       width: 100%;
    padding: 15px;
}
.search-btn i {
 font-size: 19px;
    color: #ffffff;
    padding-left: 5px;
}
.searchbar input {
    width: 100%;
    float: left;
    color: #000;
    padding: 14px;
    border: none;
    outline: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 16px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.new1 button
{
      border: none;
    padding: 0;
}

.scrollbar1 {
    height: 170px;
    background: #F5F5F5;
    overflow-y: scroll;
    position: absolute;
    top: 64%;
    left: 9%;
    box-shadow: 0px 7px 11px #101010;
    z-index: 999;
    width: 21%;
}
.scrollbar2 {
       height: 170px;
    background: #F5F5F5;
    overflow-y: scroll;
    position: absolute;
    top:  64%;
    left: 29%;
    box-shadow: 0px 7px 11px #101010;
    z-index: 999;
    width: 14%;
}
.scrollbar3 {
       height: 170px;
    background: #F5F5F5;
    overflow-y: scroll;
    position: absolute;
    top:  64%;
    left: 43%;
    box-shadow: 0px 7px 11px #101010;
    z-index: 999;
    width: 14%;
}


.my-searchlist {
    width: 100%;
    height: auto;
    background: #fff;
}
.my-searchlist ul {
    list-style-type: none;
    margin-left: -40px;
}
.my-searchlist ul li {
    border-bottom: 1px solid #e8e8e8;
    color: #666;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 5px;
    padding: 7px;
    text-align: left;
    text-shadow: 0 0 11px #fff;
}
.style-4::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
  background-color:#F5F5F5;}.style-4::-webkit-scrollbar{width:5px;background-color:#000;}
  .style-4::-webkit-scrollbar-thumb{background-color:#000;border:1px solid #000;}




.news-w3row
{
    /*background: url(../images/bg1.png) no-repeat center; */
}

.banner{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
	min-height: 500px;
	position: relative;
	background-attachment:fixed;
}
.banner-1{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 300px;
    position: relative;
    background-attachment: fixed;
}
.agile_dot_info {
  /*  background: url(../images/overlay.png)repeat;*/
	min-height: 500px;
}
/*-- w3-header-bottom --*/
.w3-header-bottom {
  background: rgb(95, 95, 95);
    padding: 1em 0em;

}
.agileinfo-phone {
	float: left;
    margin: .5em 2em 0 0;
}
.w3layouts-logo h1 i.fa.fa-shopping-bag {
    position: absolute;
       top: 78%;
    left: 60%;
    color: #fff;
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}
.agileinfo-phone p {
	color: #FFFFFF;
    font-size: .9em;
    margin: 0;
    font-weight: 600;
}
.agileinfo-map{
	margin-right:0;
}
.search-grid{
    float: right;
    width: 14%;
}
.search-grid input[type="text"] {
    display: inline-block;
    background: none;
    border: none;
    border-bottom: solid 1px #ffffff;
    width: 80%;
    padding: .5em;
    outline: none;
    font-size: .9em;
    color: #FFFFFF;
}
.big-dog::-webkit-input-placeholder {
	color: #FFFFFF !important;
}
.search-grid i.fa.fa-paper-plane-o{
    color: #FFFFFF !important;
    font-size: 1.2em !important;
}
.search-grid button.btn1 {
    color: #ffffff;
    font-size: .9em;
    border: none;
    text-align: center;
    text-decoration: none;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.search button:hover{
    border: solid 1px #212121;
    background: #212121;
}
.search button:hover i.fa.fa-paper-plane-o{
    color: #FFFFFF !important;
}
.w3layouts-logo h1 a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0 0.2em;
}
.w3layouts-logo h1 {
    margin: -25px 0px; 
	position: relative;
}
.w3layouts-logo {
    width: 19%;
    float: left;
}
/*-- top-nav --*/
.top-nav{
	float: left;
    text-align: center;
    width: 60%;
    margin: 1em 0 0 0;
}
.navbar-default {
    border: none !important;
    background: none !important;
    margin: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none !important;
}
.top-nav ul{
    padding: 0;
    margin: 0;
    float: none;
}
.top-nav ul li{
    display: inline-block;
    float: none;
	
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
    outline: none;
    border-right: none;
}
.top-nav ul li a{
      color: #ffffff !important;
    text-shadow: 0px 0px 11px #000;
    font-size: 13px;
    margin: 0 2em;
    padding: 0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-right: none;
    text-transform: uppercase;
}

.top-nav ul li a.list-border{
	border-left: none;
}
.top-nav ul li a:hover{
    color: #97f302!important;
}
.top-nav ul li a.active{
	color: #97f302!important;
    background: none;
}
ul.dropdown-menu {
    background: rgba(0, 0, 0, 0.61);
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 2.8em;
    left: 0px;
    min-width: 106px;
}
ul.dropdown-menu li{
    width: 100% !important;
    margin: 0 !important;
}
ul.dropdown-menu li:after{
	background:none !important;
}
.dropdown-menu > li > a {
    display: block;
    padding: .5em 1em !important;
    text-align: center;
    clear: both;
    margin: .2em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}
.top-nav ul li a {
    margin: 0 1em !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: rgba(0, 0, 0, 0);
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*-- //top-nav --*/
/*-- social-icons --*/
.agileinfo-social-grids {
    float: right;
    margin-top: 0.4em;
    width: 20%;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    background: #363636;
    width: 40px;
    height: 40px;
    line-height: 2.5em;
    border-radius: 50%;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
	background:#3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter{
	margin:0 1em;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	background: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss{
	margin:0 0.5em 0 0;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	background: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	background: #45668e;
}
/*-- w3-header-bottom --*/
/*-- banner-info --*/
.banner-info {
    padding: 80px;
}

.w3layouts-banner-info{
    text-align: center;
}
.w3layouts-banner-info h3 {
    color: #ffffff;
    font-size: 22px;
    line-height: 40px;
    margin: 0.5em 0;
    position: relative;
    letter-spacing: 0px;
    background: #00926a;
    padding: 10px;
    border-bottom: 3px solid;
}
.w3layouts-banner-info p {
    color: #FFFFFF;
    font-size: .9em;
    margin: 1em auto;
    line-height: 2em;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 59%;
}
.w3ls-button {
    margin: 2em auto 1em;
}
.w3ls-button a {
	color: #fff;
    font-size: 1em;
    padding: .5em 2em;
    border: solid 2px #ffa200;
    text-decoration: none;
    margin: 0;
    background: #ffa200;
}
.w3ls-button a:hover {
    color: #fff;
    border: solid 2px #f05d68!important;
    background: #f05d68!important;
}
.w3layouts-banner-info h4 {
    font-size: 38px;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
    color: #fff;
}
.banner_form_agileits h5 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
}
.banner_form_agileits form {
    margin: 0em auto 0;

    

	background:#fff;
	border-radius:3px;
}
.banner_form_agileits input[type="search"], .banner_form_agileits input[type="submit"] {
    width: 70%;
    color: #777;
    float: left;
    background: none;
    outline: none;
    font-size: 0.91em;
    padding: 1em 1em;
    border: none;
    -webkit-appearance: none;
    display: inline-block;
    letter-spacing: 2px;
}
.banner_form_agileits input[type="submit"] {
   background: #85a40b;
    width: 30%;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
	border-radius:3px;
    padding: 0.58em 1em;
}
.banner_form_agileits input[type="submit"]:hover {
    background: #ee4f4f;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
	height: auto;
	border: 0;
 }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 134%;
    left: 45%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 14px;
    width: 14px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
  background: #97f302;
  border: 2px solid #97f302;
}
/*-- //slider --*/
/*-- //banner-info --*/
/*-- news --*/ 
.news {
    padding: 5em 0;
}
.news-agileinfo {
    margin-top: 5em;
}
.wthree-news-grids {
  margin-top: 2em;
    padding: 25px;
}
.datew3-agileits-info {
    padding-left: 2em;
} 
.datew3-agileits img.img-responsive {
	width: 155px;
    height: inherit;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    overflow: hidden;
    border: solid #dedede;
}
.wthree-news-grids:hover .datew3-agileits img.img-responsive {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
    transform: scale(1.2);
}
.datew3-agileits-info h5 {
    margin: 0;
}
.datew3-agileits-info h5 a {
    color: #4184ff;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 600;
	    letter-spacing: 1px;
}
.datew3-agileits-info h5 a:hover {
    color:#f54b0f ;
}
.datew3-agileits-info h6 {
    font-size: 1em;
    color: #f54b0f;
    font-weight: 600;
    margin: 1em 0;
    letter-spacing: 1px;
}
.datew3-agileits-info p {
    margin: 1em 0 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
.datew3-agileits.datew3-agileits-fltrt {
    float: right;
}
.news-right h4 {
    color: #000;
    font-size: 2em;
    margin: 0;
}
.news-right {
    padding-left: 4em;
}
.achievesw3-agile {
	background:#97f302;
    padding: 1em;
    display: inline-block;
    margin: 2em 0 0 0;
}
.achievesw3-agile ul{
	padding:0;
	margin:0;
}
.achievesw3-agile ul li {
    display: block;
    margin: 1.3em 1em;
}
.achievesw3-agile ul li a{
    font-size: 1em;
    color: #fff;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
	-ms-transition: .5s all;
	-o-transition: .5s all;
    text-decoration: none;
}
.achievesw3-agile ul li a:hover{ 
	color:#000;
}
.achievesw3-agile ul li a i.fa {
    margin-right: 0.8em;
}
/*-- //news --*/
/*-- model --*/
.agileits-w3layouts-info img{
	width:100%;
}
.modal-header h4 {
    font-size: 2em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
	color: #111;
    text-align: center;
}
.modal-body p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #999999;
    line-height: 1.8em;
}
/*-- //model --*/
.agile-banner-main .find-about a{
	float:none!important;
	color:#fff!important;
	border-color:#fff!important;
	border-radius:0px;
}
.agile-banner-main .find-about {
    text-align: center;
}
/*.agile-banner-main .find-about a:hover {
    float: left!important;
    color: #fff!important;
    border-color: #fa000d!important;
}*/
div.about-p.text-center  span{
    color: #f5f5f5;
    font-size: 23px;
    letter-spacing: 1px;
}
.banner-info p {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 13px;
}
/* about */
.modal-body p {
    color: #777;
    padding: 16px 4px 0;
}
.modal-header {
    padding: 15px 15px 0;
    border: none;
}
.modal-body h4 {
    color: #fff;
    font-size: 30px;
    margin: 30px 0 0;
}
h3.modal-title {
    color: #fff;
       font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    
}
button.close {
    background: #fff
}
.close {
    color: #000;
    opacity: 1;
}
.border-line3 {
    background: #fff url(../images/line.png) center center no-repeat;
    height: 22px;
    margin-top: -23px;
    margin-bottom: 30px;
}
.text2
{
font-size: 17px;
    line-height: 30px;
    color: #000000;
    /* font-weight: 600; */
    padding-bottom: 20px;
}
img.img1 {
    width: 9%;
    margin: 0 auto;
}
.banner-btm-g1{
    padding:0;
}

.banner-btm-g2 {
    padding: 1em 2.5em;
    background: #141213;
}
h3.title-main {
    color: #97f302;
    font-size: 40px;
    text-transform: capitalize;
}
h4.sub-title {
    font-size: 22px;
    color: #fff;
    margin: 16px 0 10px;
}
.banner-btm p {
    font-size: 15px;
    line-height: 1.8em;
    color: #a7a7a7;
}
.heading-agileinfo {
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 30px;
    margin-bottom: 1.9em;
    text-align: center;
    color:#548702;
    text-transform: capitalize;
    position: relative;
	margin-top:20px;
}
.heading-agileinfo span {
    display: block;
    font-size: 17px!important;
    margin-top: 1em;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 500;
}
.heading-agileinfo span:after {
    content: '';
    background: #212121;
    height: 2px;
    width: 70px;
    position: absolute;
    top: 132%;
    right: 47%;
}
.section.w3ls-banner-btm-main {
    padding: 5em 0;
}
.find-about a {
    float: none;
    margin-top: 1.5em;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 4px 16px;
    font-size: 15px;
    background: transparent;
    border: 2px solid #fff;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    border-radius: 0px;
}
.find-about a:hover {
    background: #97f302;
    color: #000;
    border: 2px solid #97f302;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
.find-about a:focus {
    text-decoration: none;
    box-shadow: none;
    outline: none;
}
/* //about */
/*--about-*/
.about-bottom {
    margin-top: 25px;
}
.about-left,.about-right {
    padding: 0;
}
.about-img1{
    background: url(../images/about2.jpg)no-repeat center;
}
.about-img2 {
    background: url(../images/g7.jpg)no-repeat center;
}
.about-img2 ,.about-img1{
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 291px;
}
.about-bg{
    background: url(../images/modal.jpg)no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    padding: 0;
}
.about  img{
    width: 100%;
}
.about-bottom-text {
       padding: 4.8em 3em;
    text-align: center;
    position: relative;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
    background-color: #4184ff;
}
.about-bottom-text:before {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 50%;
    z-index: 999;
    border-top: 13px solid #4184ff;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.about-bottom-text.ab1:before {
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg);
    border-top: 13px solid #83c518;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    bottom: 100%;
}
h4.title1 {
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
}
.about-bottom-text p {
    font-size: 15px;
    line-height: 1.7em;
    color: #fff;
}
.about-bottom-text.ab1 {
    background-color: #83c518;
    color: #fff;
}a:focus {
    outline: none;
}
.about-text {
    margin: 16% auto 0;
    text-align: center;
    background-color: #000;
    padding: 4em;
    width: 57%;
}
.about-text h5 {
    color: #fff;
    font-size: 2.5em;
}
.about-text p {
    color: #fff;
    letter-spacing: 6px;
    margin-top: 1.5em;
    line-height: 2em;
	font-size: 1em;
}
.about-img5,.about-img6 {
    position: relative;
    overflow: hidden;
}
.about-img-text {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4em 3em;
    text-align: center;
    border: 25px double rgb(146, 146, 146);
    transition: .5s all;
    position: absolute;
    top: -44%;
    left: 0;
    margin: 0 3em;
}
.about-img-text p.text{
	color:#fff;
}
.about-left:hover .about-img-text {
    top: 29%;
}

/* about-gallery */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #b1b1b1;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control {
	color: #a51c21;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #a51c21;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
	display: none;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
/* //about-gallery */
/*-- welcome --*/
.services-grids1{
	margin:2em 0 0 0 !important;
}
.wthree-top-grid h4 {
    color: #97f302;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 10px 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.wthree-top-grid p {
    color: #777;
    font-size: 15px;
    line-height: 28px;
    margin: 0;
}
.agileits-about-top {
    padding: 5em 0 3em;
}
.wthree-top-grid {
    margin-bottom: 2em;
}
.w3-services,.testimonials,.portfolio,.about,.w3-team,.contact{
	padding:5em 0;
}
.ab-text {
    text-align: center;
	margin-top: 2em;
}
.ab-text h6 {
   font-size: 1.4em;
    color: #97f302;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}
.grid {
	position: relative; 
	margin: 0 auto; 
}
.hf-text {
	text-align: center;
	background-color: #fff;
	padding-bottom: 1em;
} 
.hf-text h5 {
	font-size: 2em;
    font-weight: 400;
    color: #011750;
    line-height: 1.8em;
} 
.hf-text p{
    color: #D00030;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
} 
/*-- Common style --*/
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	height: auto;
	background: #000;
	text-align: center;
	cursor: pointer;
} 
.grid figure img {
	position: relative;
	display: block; 
	opacity: 0.8;
	width: 100%;
} 
.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/*
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-errors: none;
}
*/
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.grid figure h4 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.grid figure h4 span {
    font-weight: bold;
    color: #fff;
    margin-left: 12px;
} 
figure.effect-jazz img {
	opacity: 0.8;
}
figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-jazz figcaption::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
figure.effect-jazz p {
	opacity:1;
	-webkit-transform: scale3d(0.8,0.8,1);
	-moz-transform: scale3d(0.8,0.8,1);
	-o-transform: scale3d(0.8,0.8,1);
	-ms-transform: scale3d(0.8,0.8,1); 
	transform: scale3d(0.8,0.8,1);
}
figure.effect-jazz h4 {
	padding-top:40%;
    -webkit-transition: -webkit-transform 0.35s;
	-moz-transition: transform 0.35s;
	-o-transition: transform 0.35s;
	-ms-transition: transform 0.35s;
    transition: transform 0.35s;
   color: #97f302;
    font-weight: bold;
    font-size: 2em;
    text-transform: capitalize;
}
figure.effect-jazz p {
    padding: 1em 0;
    text-transform: none;
    opacity: 0;
    color: #fff;
    font-size: .8em;
    letter-spacing: 2px;
}
figure.effect-jazz:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.05,1.05,1);
	-moz-transform: scale3d(1.05,1.05,1);
	-o-transform: scale3d(1.05,1.05,1);
	-ms-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}
figure.effect-jazz:hover figcaption::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	-moz-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	-o-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	-ms-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}
figure.effect-jazz:hover h4,
figure.effect-jazz:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	-moz-transform: scale3d(1,1,1);
	-ms-transform: scale3d(1,1,1);
	-o-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
.about-section.abt-w3sec2.w3ls{ 
	margin:0;
} 
.abt-w3limg.one {
    margin-bottom:0;
}
.start{
	text-align:center;
	margin-top: 2em;
}
.start a {
   color: #fff;
    font-size: 1em;
    padding: .5em 2em;
    border: solid 2px #97f302;
    text-decoration: none;
    margin: 0;
    background: #97f302;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.start a:hover {
     color: #fff;
    background: #111111;
    border: 1px solid #111111;
}
/*-- //about --*/
/*--services --*/
.w3-services{
   background: url(../images/5.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 500px;
	background-attachment:fixed;
}
.w3-services-left-grid h3 {
    color: #fff;
}
.w3-services-left-grid h4 {
    font-size: 1.4em;
    font-weight: 300;
    color: #fff;
	margin-bottom: 1em;
}
.w3-services-left-grid p {
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 0px;
    color: #fff;
	padding: 0 3em;
}
.w3-icon-grid1 i {
    font-size: 3em;
    color:#fff;
}
.w3-icon-grid-gap1 {
    margin: 2em 0 4em 0;
}
.w3-services-right-grid h3 {
    text-transform: uppercase;
    color: #97f302;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}
.w3-services-left-grid {
    text-align: center;
}
/*-- services --*/
/*-- team --*/
.w3-team-grid img {
    width: 100%;
}
.w3-team-grid img {
    width: 100%;
    padding-top: 0.5em;
}
.w3-team-grid {
    margin: 0.5em;
    width: 31.9%;
}
.w3-team-grid h3 {
    color: #97f302;
    text-align: center;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
}
.w3-team-grid ul {
    padding: 0;
    margin: 1em 0;
    text-align: center;
}
.w3-team-grid ul li{
    display: inline-block;
}
.w3-team-grid ul li a {
	color: #333;
    text-align: center;
}
.w3-team-grid ul li a i.fa.fa-facebook{
    height: 30px;
    width: 30px;
    line-height: 28px;
    background:#000;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3-team-grid ul li a i.fa.fa-facebook:hover {
    background: #3b5998;
}
.w3-team-grid ul li a i.fa.fa-twitter{
    height: 30px;
    width: 30px;
    line-height: 28px;
    background:#000;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3-team-grid ul li a i.fa.fa-twitter:hover{
	background: #55acee;
}
.w3-team-grid ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    line-height: 28px;
    background:#000;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3-team-grid ul li a i.fa.fa-rss:hover{
	background: #f26522;
}
/*-- team --*/
/*-- portfolio --*/
.view {
   width:370px;
    height: 210px;
    margin: 5px;
    float: left;
    border:5px solid #F1F0F0;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 1px 1px 2px #e6e6e6;
	-moz-box-shadow: 1px 1px 2px #e6e6e6;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	background: #fff;
}
.view .mask, .view .content {
    width: 370px;
    height: 210px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
  width: 100%;
   display: block;
   position: relative;
}
.view h4 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background:rgba(33, 33, 33, 0.6);
     margin: 5em 0;
}
.view p {
	font-style: normal;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 15px 20px 15px;
    text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-seventh img {
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-seventh .mask {
   background-color:rgb(0, 0, 0);
   -webkit-transform: rotate(0deg) scale(1);
   -moz-transform: rotate(0deg) scale(1);
   -o-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   cursor:pointer;
}
.view-seventh h4 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh p {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh:hover img {
   -webkit-transform: rotate(720deg) scale(0);
   -moz-transform: rotate(720deg) scale(0);
   -o-transform: rotate(720deg) scale(0);
   -ms-transform: rotate(720deg) scale(0);
   transform: rotate(720deg) scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-seventh:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px) rotate(0deg);
   -moz-transform: translateY(0px) rotate(0deg);
   -o-transform: translateY(0px) rotate(0deg);
   -ms-transform: translateY(0px) rotate(0deg);
   transform: translateY(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-seventh:hover h4 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.7s;
   -moz-transition-delay: 0.7s;
   -o-transition-delay: 0.7s;
   -ms-transition-delay: 0.7s;
   transition-delay: 0.7s;
}
.view-seventh:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.6s;
   -moz-transition-delay: 0.6s;
   -o-transition-delay: 0.6s;
   -ms-transition-delay: 0.6s;
   transition-delay: 0.6s;
}
.view-seventh:hover a.info {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.main:nth-child(3) {
    margin: 3em 0 0;
}
/*-- //portfolio --*/
/* testimonials */
.testimonials{
	padding:5em 0;
    background: url(../images/111.png) no-repeat center;
}
.testimonials-grid-1 {
    width: 200px;
}
.w3-testimonials-head h3 {
    color: #fff;
}

.testimonials h5 {
    font-size: 25px;
    color: #fff;
}
.w3l-info1 h1{
    font-size: 3em;
    color: #000;
    text-transform: uppercase;
	line-height:1.4em;
	letter-spacing:0.2em;
    font-weight: 900;
}
.w3l-info1 p {
    font-size: 15px;
    color: #777;
    line-height: 1.8em;
    margin-top: 20px;
    padding-right: 60px;
}
.w3l-info1 h3 {
    font-size: 3em;
	color:#999;
}
.testimonials h5 {
    font-size: 16px;
    color: #005591;
	margin-top:10px;
}
.testimonials h4 {
    font-size: 22px;
    color: #000;
	font-weight:600;
}
.flexslider .slides > li {
    display: block;
}
/* //testimonials */
/*-- map --*/
.map iframe {
    width: 100%;
    min-height: 400px;
}
.map {
    position: relative;
}
.w3-services p {
    font-size: 15px;
    line-height: 1.8em;
    color: #ffffff;
}
/*-- contact --*/
.w3layouts_mail_grid_right input[type="text"], .w3layouts_mail_grid_right input[type="email"], .w3layouts_mail_grid_right textarea {
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: #212121;
    background: #f5f5f5;
    width: 100%;
    border: 1px solid #b1b1b1;
	margin-bottom: 1em;
      border-radius: 30px;
      
}
.w3layouts_mail_grid_right textarea {
    min-height: 200px;
    margin-left: 1.1em;
    width: 95.2% !important;
}
.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    outline: none;
    padding: 10px 0;
    font-size: 14px;
    color:#fff;
    font-weight: 600;
       background: #5f5f5f;
    width: 46%;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    margin-left: 1.1em;
}
.w3layouts_mail_grid_right input[type="submit"]:hover, .w3layouts_mail_grid_right input[type="reset"]:hover {
	background:#212121;
	color:#fff;
}
.w3layouts_mail_grid_right {
    padding: 0;
}
.w3_agile_contact_left ul li{
	display:inline-block;
	width:25%;
	border:2px solid rgba(236, 68, 69, 0.65);
}
.agile_map_grid ul li{
    display: inline-block;
    color: #fff;
	margin-bottom:1em;
    text-transform: capitalize;
}
.agile_map_grid ul li:last-child,.agileits_w3layouts_footer_grid ul li:last-child{
	margin:0;
}
.agile_map_grid ul li a,.agileits_w3layouts_footer_grid ul li a{
	color:#fff;
	text-decoration:none;
}
.agile_map_grid ul li a:hover{
	color:#ff0101;
}
.agileits_w3layouts_footer_grid ul li a:hover{
	color:#ff0101;
}
.agile_map_grid ul li i {
    color: #212121;
    margin-right: 1em;
    padding: .5em;
    background: #fff;
    border-radius: 50%;
}
.agile_map_grid ul li span{
    color:#ff0101;
	font-weight:600;
}
/*-- //contact --*/
.map {
    padding: 2em;
    background: #d6d6d6;
}
/*-- //map --*/
.footer-grids1f2 h3, .footer-grids1f2 h3 {
    color: #333;
    font-size: 27px;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-weight: 800;
}
.footer-grids1f2 p, .footer-grids1f2 p {
    color: #333;
    line-height: 2.2em;
    font-size: 14px;
    font-weight: 600;
}
/*-- //main --*/



/*---------------------------
11. footer
----------------------------- */
.footer-top-area {
  background: #2d2d2d none repeat scroll 0 0;
  padding: 20px 0;
}
.footer-widget{}
.footer-widget h3 {
  border-bottom: 1px solid #5b5b5b;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 15px;
  text-transform: uppercase;
  line-height: 11px;
}
ul.footer-menu{}
ul.footer-menu li {}
ul.footer-menu li a {
  color: #d5d5d5;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  border-bottom: 1px solid #5b5b5b;
}
ul.footer-menu li:last-child a{padding-bottom:0;}
ul.footer-menu li a:hover{color:#fec34d}
ul.footer-menu li a::before {
  content: "\f101";
  display: inline-block;
  font-family: fontawesome;
  margin-right: 8px;
  position: relative;
  top: 0;
}
.footer-widget img{}
.footer-widget p {
  color: #d5d5d5;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 22px;
}

.footer-widget ul{
margin-left: -40px;
}
.widget-icon{text-align: center;}
.widget-icon a {
  border: 1px solid #d5d5d5;
  color: #d5d5d5;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 32px;
  margin-right: 8px;
}
.widget-icon a:hover{background:#fec34d;color:#fff;border-color:#fec34d}
.widget-icon a i{}
ul.footer-contact{}
ul.footer-contact li {
  clear: both;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #d5d5d5;
  font-size: 13px;
}
ul.footer-contact li i {
  border: 1px solid #d5d5d5;
  border-radius: 0;
  color: #d5d5d5;
  float: left;
  font-size: 16px;
  height: 34px;
  line-height: 30px;
  margin-right: 15px;
  text-align: center;
  width: 32px;
}
.footer-bottom-area {
  background: #212121;
  padding: 20px 0;
}
.copyright {
  margin-top: 4px;
}
.copyright p {
  color: #d5d5d5;
  margin: 0;
}
.copyright p a{color:#fec34d}
.copyright p a:hover{text-decoration:underline}
.payment-img {
  float: right;
}



/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #97f302 !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
ul.bs-glyphicons-list {
    padding: 0;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color:#97f302;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 10px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color:#6a8400;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: .5em;
}
.progress {
	height: 10px;
	margin-bottom: 10px;
}
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
	font-size: 14px;
}
.breadcrumb {
	margin-bottom: 25px;
}
.well {
	font-size: 14px;
	margin-bottom: 10px;
}
h2.typoh2 {
	font-size: 1.5em;
}
.label {
	font-size: 60%;
}
.in-gp-tl {
	padding: 0 1em;
}
.in-gp-tb {
	padding-right: 1em;
}
}
@media (max-width:480px){
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	font-size: 1.2em;
}
.table h1 {
	font-size: 26px;
}
.table h2 {
	font-size: 23px;
	}
.table h3 {
	font-size: 20px;
}
.label {
	font-size: 53%;
}
.alert,p {
	font-size: 14px;
}
.pagination {
	margin: 20px 0 0px;
}
.grid_3.grid_4.w3layouts {
	margin-top: 25px;
}
}
@media (max-width: 320px){
.grid_4 {
	margin-top: 18px;
}
h3.title {
	font-size: 1.6em;
}
.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
	font-size: 13px;
}
.alert {
	padding: 10px;
	margin-bottom: 10px;
}
ul.pagination li a {
	font-size: 14px;
	padding: 5px 11px;
}
.list-group {
	margin-bottom: 10px;
}
.well {
	padding: 10px;
}
.nav > li > a {
	font-size: 14px;
}
table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
/*-- //typography --*/
/*-- offers --*/
.offers {
   background: url(../images/5.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5em 0;
}
.offers-heading h3{
	color:#FFFFFF;
}
.offers-grids{
	margin:4em 0 0 0;
}
.offers-left-heading h4{
    font-size: 1.2em;
    margin: 0 0 1em 0;
    color: #f54b0f;
	font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
}
.offers-number{
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #97f302;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.offers-number p {
    font-size: 1.5em;
    color: #FFFFFF;
    margin: 0;
    line-height: 2.2em;
}
.offers-text{
    float: right;
    width: 85%;
}
.offers-text p{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 1.8em;
    margin: 0;
}
.offers-left-middle{
    margin: 2em 0;
}
.w3-team-grid p {
    font-size: 15px;
    color: #777;
    line-height: 1.8em;
    text-align: center;
}
.wthree-offers-right h5 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 1em 0;
    line-height: 1.5em;
}
.wthree-offers-right p{
    color: #FFFFFF;
    font-size:15px;
    line-height: 1.5em;
    margin: 0;
}
.wthree-offers-right ul{
	margin:1em 0 0 0;
	padding:0;
}
.wthree-offers-right ul li{
    display: block;
    margin-bottom: 1em;	
}
.wthree-offers-right ul li a{
    font-size: .9em;
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
}
/*-- //offers --*/
/*-- /responsive design --*/
@media(max-width:1440px){
.agileinfo-social-grids {
    width: 18%;
	}
	.top-nav {
    width: 62%;
	}
	.agileinfo-social-grids ul li a i.fa.fa-twitter {
    margin: 0 0.5em;
}
h3.title-main {
    font-size: 24px;
}
h4.sub-title {
    font-size: 20px;
}
.find-about a {
    margin-top: 0.4em;
}
.about-bottom-text {
    padding: 4em 3em;
}
}
@media(max-width:1366px){
.top-nav ul li a {
    margin:0 1em !important ;
	}
}
@media(max-width:1280px){
.top-nav ul li a {
    margin: 0 1em !important;
	}
	.agileinfo-social-grids {
    width: 19%;
	}
	.wthree-heading h2, .wthree-heading h3, .w3-testimonials-head h3, h3.w3ls_head, h3.agileits-title, .w3-services-left-grid h3, .w3-team-head h3, h3.wthree_head_contact {
    font-size: 2.8em;
	}
}
@media screen and (min-width: 1081px){
    
    .banner-btm{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;           
    }
    .banner-btm-g1,.banner-btm-g2 {
        -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;         /* OLD - Firefox 19- */
        width: 20%;               /* For old syntax, otherwise collapses. */
        -webkit-flex: 1;          /* Chrome */
        -ms-flex: 1;              /* IE 10 */
        flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }
}
@media(max-width:1080px){
.top-nav ul li a {
    margin: 0 0.4em !important;
   }
	.w3-header-bottom {
    padding: 1em 0em;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 86%;
	}
	.top-nav {
    width: 59%;
	}
	.agileinfo-social-grids {
    width: 21%;
	}
	.grid figure figcaption {
    font-size: 1em;
	}
	.w3-services-left-grid h3 {
    font-size: 2.5em;
    letter-spacing: 2px;
	}
	.w3-services-left-grid p {
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 0px;
    color: #fff;
    padding: 0 1em;
	}
	.w3-services-right-grid h3 {
    font-size: 18px;
    letter-spacing: 1px;
	}
	.w3-services-right-grid {
    margin: 0em 0 0 0;
	}
	.banner,.agile_dot_info {
    min-height: 600px;
	}
	.banner-info {
    padding: 8em 0 0 0;
	}
	.w3layouts-banner-info h3 span {
    font-size: 2.8em;
	}
	.w3-services-left-grid h4 {
    font-size: 1.2em;
	}
	.w3-team-grid {
    width: 31.6%;
	}
	.view {
    width: 225px;
	}
	.view .mask, .view .content {
    width: 221px;
	}
	.ftr-menu {
    float: right;
    margin-top: 36px;
	}
	.banner-btm-g1, .banner-btm-g2  {
        width: 87%;
        float: none;
        margin: 0 auto;
     }
	 .banner_form_agileits form {
    width: 56%;
}
.about-bottom-text {
    padding: 4em 2em;
}
.about-bottom-text {
    padding: 3.2em 2em;
}
}
@media(max-width:1050px){
.banner-btm-g1, .banner-btm-g2 {
        width: 78%;
    }
}
@media(max-width:1024px){
.top-nav ul li a {
    font-size: 0.9em;
	}
	.agileinfo-social-grids ul li a i.fa {
    width: 35px;
    height: 35px;
    line-height: 2.2em;
	}
	.w3-services-left-grid h4 {
    font-size: 1.1em;
    letter-spacing: 0.5px;
	}
	.w3-services-right-grid h3 {
    font-size: 17px;
    letter-spacing: 1px;
	}
	.testimonials {
    background: url(../images/tb.jpg)no-repeat -551px 0px;
	}
	.w3-services, .testimonials, .portfolio, .about, .w3-team, .contact {
    padding: 4em 0;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    font-size: 0.9em;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 92%;
	}
	.w3-services-left-grid h3 {
    font-size: 2.3em;
    letter-spacing: 2px;
	}
}
@media screen and (min-width: 992px){
    
.about-grid{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;        
}
.about-right{
     -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.about-bg{
    -webkit-box-flex: 2;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 2;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 2;          /* Chrome */
    -ms-flex: 2;   
    flex:2;           /* IE 10 */
    
}
.about-right,.about-bottom-text,.about-img2, .about-img1{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
     -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;   
    flex:1;           /* IE 10 */
}
.about-sub-grid,about-right-flex{
    padding:0;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex; 
}
}
@media(max-width:991px){
.w3layouts-logo h1 a {
    font-size: 1.1em;
	}
	.w3layouts-banner-info h3 span {
    font-size: 2.5em;
	}
	.banner-info {
    padding: 8em 0 0 0;
	}
	.callbacks_tabs {
    left: 45%;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 85%;
	}
	.ab-text.two.w3-agileits {
    width: 100%;
	}
	.ab-left.w3-agileits {
    width: 100%;
	}
	.w3-services, .testimonials, .portfolio, .about, .w3-team, .contact {
    padding: 3em 0;
	}
	.ab-left.w3-agileits {
    width: 100%;
    margin: 5em 0 0 0;
	}
	.w3-services-left-grid {
    width: 50%;
	float:left;
	}
	.w3-icon-grid1 {
    width: 33.33%;
    float: left;
	}
	.w3-team-grid {
    width: 31.1%;
    float: left;
	}
	.testimonials-grid-2 {
    width: 70%;
    float: left;
	}
	.testimonials-grid-1 {
    width: 30%;
    float: left;
	}
	.w3layouts_mail_grid_left {
    width: 50%;
    float:left;
}
	.w3layouts_mail_grid_right {
    width: 50%;
    float: left;
}
	.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    width: 43%;
	}
	.logo2 {
    float: left;
    width: 20%;
	}
	.ftr-menu {
    float:left;
    width: 80%;
	}
	.ftr-menu ul li a {
    margin: 0 7px;
	}
	 .banner-btm-g1, .banner-btm-g2 {
        width: 87%;
    }
		.agileinfo-social-grids ul li a i.fa.fa-twitter {
    margin: 0 0.1em;
}
.agileinfo-social-grids {
    width: 23%;
}
.top-nav {
    width: 63%;
}
.agileinfo-social-grids ul li a i.fa {
    width: 27px;
    height: 27px;
    line-height: 2.1em;
    font-size: 13px;
}
.agileinfo-social-grids {
    width: 18%;
}
.agileinfo-social-grids {
    margin-top: 0.9em;
}
.w3layouts-banner-info h3 {
    font-size: 2em;
}
.banner_form_agileits form {
    width: 71%;
}
.banner, .agile_dot_info {
    min-height: 560px;
}
.about-bottom-text {
    padding: 4.8em 4em;
}
.top-nav ul li a {
    font-size: 0.8em;
}
.top-nav ul li a {
    margin: 0 0.3em !important;
}
.w3-icon-grid-gap1 {
    margin: 2em 0 2em 0;
}
.agile-footer-grid {
    float: left;
    width: 50%;
	margin-bottom:1.5em;
}
.agile-footer-grid {
    float: left;
    width: 50%;
}
	.section.w3ls-banner-btm-main {
    padding: 3em 0;
}
.news {
    padding: 3em 0;
}
.footer {
    padding: 3em 0;
}
.offers {
    padding: 3em 0;
}
.agileits-about-top {
    padding: 3em 0 2em;
}
.wthree-top-grid {
    float: left;
    width: 50%;
}
.wthree-top-grid h4 {
    font-size: 20px;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 3em 0;
}
.typo {
    padding: 3em 0;
}
}
@media(max-width:768px){
.agileinfo-social-grids {
    width: 18%;
	}
	.top-nav {
    width: 63%;
	}
	.w3layouts-banner-info h3 span {
    font-size: 1.8em;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 106%;
	}
.w3layouts_mail_grid_left {
    width: 100%;
    float: none;
    margin: 0 auto 2em;
}
.w3layouts_mail_grid_right {
    width: 100%;
    float: none;
}
.about-bottom-text {
    padding: 4.8em 3em;
}
.banner-1 {
    min-height: 250px;
}
}
@media(max-width:767px){
.agileinfo-social-grids {
    width: 19%;
    float: left;
}
	.top-nav ul li {
    display: block;
	}
	.navbar-toggle {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
	}
.top-nav {
    float: right;
    text-align: center;
    width: 78%;
    margin: 11px 0px 0 0px;
}
	.top-nav ul li {
    margin: 1.5em 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    border-top: transparent;
	}
	.top-nav ul {
    background: rgba(10, 10, 10, 0.97);
    z-index: 9999;
    /* position: absolute; */
    width: 100%;
}
.navbar-toggle {
		float: right;
		margin-right: 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color:rgba(151, 243, 2, 0);
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.top-nav ul li {
		display: block;
		float: none;
		margin: 1em 0;
	}
	.top-nav ul li a {
		margin: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		background: rgba(0, 0, 0, 0.78);
		z-index: 9999;
	}
	.w3-team-grid {
    width:30.5%;
    float: left;
	}
	.w3-team-grid h3 {
    font-size: 21px;
	}
	.footer-grids1 {
    width: 42%;
    padding: 3.7em;
	}
	.footer-grids {
    width: 40%;
	}
	.logo2 h3 {
    font-size: 20px;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 110%;
	}
	.view,.view .mask {
    width:224px;
	}
	.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    width: 26%;
    }
	.about-bottom-text {
    padding: 4em 3em;
}
.w3layouts-logo {
    width: 100%;
    float: left;
    text-align: center;
}
}
@media(max-width:667px){
    .wthree-heading h2,.wthree-heading h3,.w3-testimonials-head h3,h3.w3ls_head,h3.agileits-title,.w3-services-left-grid h3,.w3-team-head h3,h3.wthree_head_contact {
    font-size: 2.2em;
	}
	.w3-services,.testimonials,.portfolio,.about,.w3-team,.contact {
    padding: 2em 0;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 124%;
    top: 75%;
	}
	.w3-services-left-grid p {
    font-size: 0.9em;
    letter-spacing: 1px;
	}
	.w3-services-right-grid h3 {
    font-size: 14px;
    letter-spacing: 1px;
	}
	.w3l-info1 p {
    padding-right: 0px;
	}
	.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    width: 24%;
	}
	.footer-grids {
    width: 50%;
    position: static;
	}
	.w3-icon-grid-gap1,.w3-icon-grid-gap2 {
    margin-left: 2em;
	}
	.footer-grids1 {
    width: 50%;
	}
	.map iframe {
    min-height: 300px;
	}
	.ftr-menu ul li a {
    margin: 0 6px;
	}
	.w3-team-grid {
    width: 30.5%;
    float: left;
	}
	.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    width: 26%;
   }  
   .ftr-menu ul li a {
    margin: 0 4px;
   }
   .view,.view .mask {
    width:202px;
	}
	.banner-btm-g1, .banner-btm-g2 {
        width: 94%;
    }
	.w3layouts-banner-info h3 {
    font-size: 1.8em;
}
.agileinfo-social-grids {
    width: 22%;
}
}
@media(max-width:640px){
  .w3layouts-logo img
{
    width: 45%;
    margin-top: 20px;
    margin-bottom: -21px;
}

.banner-info {
    padding: 5em 0 0 0;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 131%;
    top: 73%;
    font-size: 0.8em;
	}
	.w3-team-grid {
    width: 30.5%;
	}
	.view,.view .mask {
    width: 295px;
	}
	.ftr-menu ul li a {
    margin: 0 4px;
	}
	.w3l-info1 p {
    font-size: 0.9em;
	}
	.testimonials-grid-1 {
    width: 40%;
    float: left;
	}
	.testimonials-grid-2 {
    width: 60%;
    float: left;
	}
   .view, .view .mask {
    width: 283px;
    }
	.banner, .agile_dot_info {
    min-height: 500px;
}
.w3layouts-banner-info h3 {
    letter-spacing: 3px;
}
.w3-icon-grid1 {
        width: 100%;
    float: left;
    margin-top: 10px;
}
.w3-services-right-grid h3 {
    font-size: 20px;
    margin: 17px 0;
}
.w3-icon-grid-gap1, .w3-icon-grid-gap2 {
    margin-left: 0em;
}
.w3layouts-banner-info h4 {
    font-size: 25px;
}
}
@media(max-width:600px){
.agileinfo-social-grids {
    width: 25%;
	}
	.w3layouts-banner-info h3 span {
    font-size: 1.5em;
	}
	.w3layouts-banner-info h3 {
    font-size: 1.8em;
	}
	.w3-team-grid {
    width: 30.4%;
	}
	.view,.view .mask{
    width:266px;
	}
	.ftr-menu ul li a {
    margin: 0 3px;
	font-size: 15px;
	}
	.ftr-menu ul li a {
    margin: 0 2px;
    font-size: 15px;
	}
	.footer-grids1 {
    padding: 1.7em;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 145%;
   }
   .banner_form_agileits form {
    width: 84%;
}
.about-bottom-text {
    padding: 3.2em 3em;
}
.top-nav {
    width: 74%;
}
}
@media(max-width:568px){
.agileinfo-social-grids {
    width: 25%;
	}
	.top-nav {
    width: 75%;
}
	.w3-services-right-grid h3 {
    line-height: 1.5em;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 149%;
    top: 75%;
    font-size: 0.7em;
	}
	.w3-team-grid {
    width: 30.2%;
	}
	.view,.view .mask {
    width: 250px;
	}
	.footer-grids1 {
    padding: 1.8em;
	}
	.logo2 {
    width: 100%;
    text-align: center;
	}
	.ftr-menu {
    width: 100%;
	}
	.ftr-menu ul li a {
    margin: 0 7px;
	}
	.testimonials-grid-2 {
    width: 55%;
    float: left;
	}
	.testimonials-grid-1 {
    width: 45%;
    float: left;
	}
	.footer-grids1 {
    padding: 0em 3em;
	}
	.footer-grids {
    padding: 3em 3em;
	}
	.footer-grids h3, .footer-grids1 h3 {
    margin-bottom: 30px;
	font-size:25px;
	}
	.footer-grids input[type="submit"] {
    font-size: 18px;
	}
	.w3layouts_mail_grid_right textarea {
    min-height: 150px;
	}
	.w3-services-left-grid {
    width: 100%;
    float: none;
   }
   .w3-services-right-grid {
    width: 100%;
     float: none;
}
.w3-services-right-grid {
    margin: 1em 0 0 0;
}
  .banner-btm-g1, .banner-btm-g2 {
        width: 100%;
    }
	.w3layouts-banner-info h3 {
    letter-spacing: 1px;
}
h4.title1 {
    font-size: 28px;
}
.about-bottom-text {
    padding: 3.35em 3em;
}
.w3-team-grid h3 {
    font-size: 20px;
}
}
@media(max-width:480px){
.agileinfo-social-grids {
    width: 29%;
	}
	.top-nav {
    width: 71%;
	}
	.w3layouts-banner-info h3 {
    font-size: 1.5em;
    letter-spacing: 5px;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 181%;
	}
	.w3-team-grid {
    width: 29.7%;
	}
	.w3-team-grid h3 {
    font-size: 16px;
	}
	.w3-team-grid {
    width: 70%;
    margin: 0 auto;
    float: none;
    margin-bottom: 2em;
	}
	figure.effect-jazz h4 {
    padding-top: 0%;
    font-size: 1.5em;
	}
	.w3-team-grid ul {
    padding-bottom: 20px;
	}
	.view,.view .mask {
    width: 305px;
	}
	.main {
    width: 72%;
    margin: 0 auto;
	}
	.w3l-info1 p {
    margin-top: 0px;
	}
	.footer-grids1 {
    width: 100%;
    position: static;
    padding: 0;
    text-align: center;
	}
	.footer-grids h3, .footer-grids1 h3 {
    font-size: 27px;
    margin-bottom: 25px;
	text-align: center;
	}
	.footer-grids {
    padding: 2em 2em;
	}
	.ftr-menu ul li a {
    margin: 0 3px;
    font-size: 14px;
	}
	.ftr-menu {
    margin-top: 11px;
	}
	.testimonials-grid-2 {
    width: 100%;
	}
	.footer-grids input[type="email"] {
    margin-bottom: 20PX;
	}
	  .w3-header-bottom {
    padding: 1em 0;
}
	.banner_form_agileits form {
    width: 100%;
}
.w3layouts-banner-info h3 {
    font-size: 1.3em;
    letter-spacing: 3px;
}
.w3layouts-banner-info h4 {
    font-size: 22px;
}
.banner, .agile_dot_info {
    min-height: 440px;
}
h4.sub-title {
    font-size: 18px;
}
.heading-agileinfo {
    font-size: 32px;
}
.heading-agileinfo span {
    font-size: 13px!important;
}
h4.title1 {
    font-size: 25px;
}
.about-bottom-text {
    padding: 3.35em 2em;
}
.datew3-agileits-info h5 a {
    font-size: 1.2em;
}
.datew3-agileits-info h6 {
    font-size: .9em;
}
.testimonials-grid-1 {
    width: 100%;
    float: left;
    text-align: center;
}
.banner_form_agileits h5 {
    font-size: 15px;
}
.banner-1 {
    min-height: 220px;
}
}
@media(max-width:414px){
.w3-header-bottom {
    padding: 1em 0;
	}
	.agileinfo-social-grids {
    width: 36%;
    left: 45%;
    top: 3.5%;
}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 213%;
	}
	.abt-w3limg {
    width: 100%;
	 margin: 1em 0;
	 margin-left: 1em;
	}
	.main {
    width: 84%;
    margin: 0 auto;
	}
	.wthree-heading h2, .wthree-heading h3, .w3-testimonials-head h3, h3.w3ls_head, h3.agileits-title, .w3-services-left-grid h3, .w3-team-head h3, h3.wthree_head_contact {
    font-size: 1.8em;
	}
	.w3layouts-banner-info h3 {
    font-size: 1.5em;
    letter-spacing: 3px;
	}
	.testimonials-grid-1 {
    width: 60%;
    float: left;
	}
	.w3layouts-banner-info h3 {
    font-size: 1.2em;
    letter-spacing: 2px;
	}
	.w3layouts-banner-info p {
    font-size: .87em;
    margin: 1em 0 0 0;
    letter-spacing: 2px;
	}
	.ab-text h6 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
	}
	.ftr-menu ul li a {
    margin: 0 5px;
    font-size: 15px;
    line-height: 1.8em;
	}
	.logo2 h3 a {
    font-size: 1.8EM;
	}
	.ab-text {
    margin-top:0;
	}
	.ab-left.w3-agileits {
    margin: 2em 0 0 0;
	}
	.w3-icon-grid-gap1, .w3-icon-grid-gap2 {
    margin-left: 1em;
	}
	.w3layouts_mail_grid_right textarea {
    width: 89% !important;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 225%;
	}
	.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    width: 29%;
	}
	.agileinfo-social-grids ul li a i.fa.fa-twitter {
    margin: 0 0.1em;
  }
  .w3-icon-grid-gap1 {
    margin: 2em 0 2em 0;
   }
   .w3-icon-grid-gap1, .w3-icon-grid-gap2 {
    margin-left: 0em;
  }
.banner_form_agileits input[type="search"], .banner_form_agileits input[type="submit"] {
    width: 63%;
}
.banner_form_agileits input[type="submit"] {
    width: 37%;
}
.callbacks_tabs {
    left: 39%;
}
h4.sub-title {
    font-size: 15px;
}
h4.title1 {
    font-size: 21px;
}
.about-bottom-text p {
    font-size: 14px;
}
.about-bottom-text {
    padding: 3.15em 2em;
}
.datew3-agileits {
    width: 100%;
    text-align: center;
    float: left;
}
.datew3-agileits-info {
    padding-left: 2em;
    width: 100%;
    margin-top: 2em;
    float: left;
}
.heading-agileinfo span {
    letter-spacing: 2px;
}
.agile-footer-grid {
    width: 100%;
}
.footer {
    padding: 3em 0 1em;
}
.copy-right p {
    line-height: 26px;
}
.top-nav {
    width: 64%;
}
.wthree-top-grid {
    width: 100%;
}
}
@media screen and (min-width: 385px){
    
.about-right{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
   -moz-box-flex: 1;         /* OLD - Firefox 19- */
   /* For old syntax, otherwise collapses. */
   -webkit-flex: 1;          /* Chrome */
   -ms-flex: 1;              /* IE 10 */
   flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.about-right,.about-bottom-text,.about-img2, .about-img1{
   -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
   -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
   -ms-flex: 1;   
   flex:1;           /* IE 10 */
}
.about-sub-grid,about-right-flex{
   padding:0;
   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;      /* TWEENER - IE 10 */
   display: -webkit-flex;     /* NEW - Chrome */
   display: flex; 
}
}
@media(max-width:384px){
.w3layouts-logo h1 {
    font-size:30px;
	}
	.agileinfo-social-grids {
    left: 42%;
	top:3%
}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 198%;
	}
	.modal-header h4 {
    font-size: 1.5em;
	}
	.main {
    width: 91%;
    margin: 0 auto;
	}
	.testimonials h4, h5 {
    font-size: 20px;
	}
	.testimonials h5 {
    font-size: 14px;
	}
	.agileinfo-social-grids ul li a i.fa.fa-rss {
    margin: 0 0.1em 0 0;
    }
	.top-nav {
    margin: 7px 0px 0 0px;
}
.banner_form_agileits input[type="submit"] {
    width: 40%;
}
.banner_form_agileits input[type="search"] {
    width: 60%;
}
.w3layouts-banner-info h3 {
    font-size: 1.2em;
    letter-spacing: 0px;
}
h3.title-main {
    font-size: 26px;
}
.datew3-agileits-info {
    padding-left: 0em;
}
.datew3-agileits-info h5 a {
    font-size: 1em;
}
.agileinfo-social-grids {
    width: 37%;
}
.top-nav {
    width: 63%;
}
.footer-grids1f2 h3, .footer-grids1f2 h3 {
    margin-bottom: 15px;
}
}
@media(max-width:375px){
.w3-icon-grid-gap1 {
    margin-bottom: 2em;
	}
	.w3layouts_mail_grid_right input[type="submit"], .w3layouts_mail_grid_right input[type="reset"] {
    width: 34%;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 204%;
	}
	.abt-w3limg {
    margin-left: 0.1em;
	}
	.agileinfo-social-grids {
    width: 38%;
}
.top-nav {
    width: 62%;
}
}
@media(max-width:320px){
  .copy-right p {
    margin: 0px 0 0 0;
    font-size: 10px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}
  .w3-services p {
    font-size: 12px;
    line-height: 1.8em;
    color: #ffffff;
    text-align: justify;
}
  .text2 {
    font-size: 13px;
    line-height: 25px;
    color: #000000;
    /* font-weight: 600; */
    text-align: justify;
    padding-bottom: 20px;
}
.searchbar input {
    width: 100%;
    float: left;
    color: #000;
    padding: 13px;
    border: none;
    outline: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 12px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.agileinfo-social-grids {
    width: 46%;
}
.top-nav {
    width: 54%;
}
	.ab-text h6 {
    font-size: 1em;
    margin-bottom: 0.5em;
	}
	.abt-w3limg {
    margin-left: 0em;
	}
	.w3layouts-logo h1 i.fa.fa-shopping-bag {
    left: 244%;
	}
	.banner-info {
    padding: 2em 0 0 0;
	}
	.banner-info {
    padding: 2em 0 0 0;
	}
	.w3layouts-banner-info h3 {
   font-size: 12px;
    letter-spacing: 0px;
    line-height: 20px;
}
	.w3-services-left-grid h4 {
    font-size: 1em;
    letter-spacing: 0.5px;
	}
	.view,.view .mask {
    width: 255px;
	}
	.w3layouts_mail_grid_left {
    margin-left: 0em;
	}
	.w3layouts_mail_grid_right {
    margin-left: 0em;
	}
	.logo2 h3 a {
    font-size: 1.5EM;
	}
	.w3-services-left-grid h4 {
    font-size: 0.9em;
    letter-spacing: 0.5px;
	}
	.main {
    width: 100%;
	}
	.ftr-menu ul li a {
    margin: 0 2px;
	}
	.agileinfo-social-grids ul li a i.fa.fa-rss {
    margin: 0 0.1em 0 0;
   }
   .top-nav ul {
    width: 100%;
    }
	.w3-header-bottom {
    padding: 1em 0 1em;
}
.banner_form_agileits input[type="submit"] {
    font-size: 1em;
    padding: 0.58em 0.5em;
}
.banner_form_agileits input[type="search"] {
    font-size: 0.9em;
    padding: 0.7em 1em;
}
.w3layouts-banner-info h4 {
    font-size: 16px;
}
.banner_form_agileits h5 {
    font-size: 13px;
    line-height: 20px;
}
.callbacks_tabs {
    left: 36%;
	top:125%;
}
.banner, .agile_dot_info {
    min-height: 390px;
}
.section.w3ls-banner-btm-main {
    padding: 2em 0;
}
.banner-btm-g2 {
    padding: 2em 1em;
}
h3.title-main {
    font-size: 24px;
}
.banner-btm p {
    font-size: 14px;
}
.heading-agileinfo span {
    letter-spacing: 1px;
}
.heading-agileinfo {
       font-size: 18px;
    margin-bottom: 1.5em;
}
.about-bottom-text {
    padding: 2em 2em;
}
.news {
    padding: 2em 0;
}
.datew3-agileits-info h5 a {
    font-size: 0.85em;
}
.footer {
    padding: 2em 0 0em;
}
.navbar-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.banner-1 {
    min-height: 200px;
}
.offers {
    padding: 2em 0;
}
.wthree-offers-left {
    padding: 0;
}
.offers-text {
    width: 77%;
}
.offers-left-heading h4 {
    font-size: 1em;
}
.w3-team-grid {
    width: 80%;
}
.agileits-about-top {
    padding: 2em 0 0em;
}
.w3-services, .testimonials, .portfolio, .about, .w3-team, .contact {
    padding: 2em 0;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 2em 0;
}
.typo {
    padding: 2em 0;
}
}

/*-- /responsive design --*/